<%- include('components/header') %>
<style>
    body {
        position: relative;
    }

    body::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
        height: 50%;
        background-image: url("<%= team.logo %>");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        mix-blend-mode: darken;
        opacity: 0.1;
        pointer-events: none;
    }
</style>
<main>
    <h1 id="teamName"><%= team.name %></h1>
    <section id="otherStuff">
        <div>
            <input type="text" id="newPlayerInput">
            <div class="addBtn"><img src="/assets/icons/addPerson.svg" alt="Add" class="addIcon"></div>
        </div>
        <div>
            <button class="statsBtn">Team Stats</button>
        </div>
    </section>
    <section id="playerDisplays">
        <% team.players.forEach(player => { %>
            <div class="player">
                <p><%= player %></p>
                <div class="deleteBtn"><img src="/assets/icons/delete.svg" alt="Delete" class="deleteIcon"></div>
            </div>
        <% }) %>
    </section>
</main>
<%- include('components/footer') %>
